<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Billboard</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#60bf70">
  <meta name="msapplication-TileColor" content="#60bf70">
  <meta name="theme-color" content="#ffffff">
  
  <link href="//clubessential.s3.amazonaws.com/fonts/nucleo/glyph/css/nucleo-glyph.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Lora&display=swap" rel="stylesheet">
  <script type="text/javascript" language="javascript" src="https://www.vanderbiltcountryclub.com/A_Master/library/js/jquery/1.12.3/jquery.min.js"></script>
  <script type="text/javascript" language="javascript">try{var $j = jQuery.noConflict();}catch(e){}</script>
</head>
<body>
    <section class="billboard">
        <article class="billboard-item">
          <div class="billboard-img mp-bg">
            <div class="mpContent"><img src=""
          </div>
          <div class="billboard-txt">
            ##MINI##
          </div>
        </article>
        <div class="billboard-cte row no-gutters justify-content-center cte-##ADMINLEVEL##">
          <div class="billboard-cte-img col-6"><label>Image:</label></div>
          <div class="billboard-cte-txt col-6"><label>Text:</label></div>
        </div>
      </section>
  <code>
    <section class="billboard">
      <article class="billboard-item">
        <div class="billboard-img mp-bg">
          ##MINI##
        </div>
        <div class="billboard-txt">
          ##MINI##
        </div>
      </article>
      <div class="billboard-cte row no-gutters justify-content-center cte-##ADMINLEVEL##">
        <div class="billboard-cte-img col-6"><label>Image:</label></div>
        <div class="billboard-cte-txt col-6"><label>Text:</label></div>
      </div>
    </section>
  </code>
</body>
</html>

