//LOAD SLICK CSS
//<link rel="stylesheet" type="text/css" href="https://www.baltimoreyachtclub.org/A_Master/library/js/Slick/slick.css">

$carouselHeightSm: $carouselHeightSm;
$carouselHeightMd: $carouselHeightMd;
$slickSlideOpacity: .7;
$slickActiveSlideOpacity: 1;
$overlayOpacity: rgba(0, 0, 0, 0.7);

.slick-carousel {
  position: relative;
  & > table .plgHeaderBar {
    padding-right: 150px;
  }
  & [id*="photoPluginWrapper"] {
    height: $carouselHeightSm !important;
    & > div {
      height: $carouselHeightSm !important;
    }
    @media screen and (min-width:768px) {
      height: $carouselHeightMd !important;
      & > div {
        height:$carouselHeightMd !important;
      }
    }
  }
  & .slick-slide {
    opacity: $slickSlideOpacity;
    &.slick-active {
      opacity: $slickActiveSlideOpacity;
      & .overlay {
        opacity:0;
        width:0;
        height:0;
      }
    }
  }
  & .img-box {
    position:relative;
    margin:0 15px;
    height: $carouselHeightSm;
    @media screen and (min-width:768px) {
      height: $carouselHeightMd;
    }
    & .overlay {
      background: $overlayOpacity;
      transition: opacity .2s;
    }
  }

  & button[class*="slick-"] {
    position: absolute;
    padding: 0;
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    z-index: 1000;
    background-size: contain !important;
    font-size: 20px;
    @media screen and (min-width:768px) {
      font-size: 30px;
    }
  }

  & button.slick-prev {
    left: 2%;
    @media screen and (min-width:768px) {
      left: 4%;
    }
    @media screen and (min-width:992px) {
      left: 7%;
    }
  }

  & button.slick-next {
    right: 2%;
    @media screen and (min-width:768px) {
      right: 4%;
    }
    @media screen and (min-width:992px) {
      right: 7%;
    }
  }
}
