<!-- Pattern Repeats down page flipping Image block with content/text block-->
<section class="panels panel-grid">
  <article class="panel-item">
    <div class="clearfix">
      <div class="panel-img mp-bg col-md-7">
        ##MINIPAGE##
      </div>
      <div class="panel-txt col-md-5">
        <div class="v-align">
          ##MINIPAGE##
        </div>
      </div>
    </div>
  </article>
  <article class="panel-item">
    <div class="clearfix">
      <div class="panel-img mp-bg col-md-7 col-md-push-5">
          ##MINIPAGE##
      </div>
      <div class="panel-txt col-md-5 col-md-pull-7">
        <div class="v-align">
          ##MINIPAGE##
        </div>
      </div>
    </div>
  </article>
</section>
