<section class="billboard pbhm">
        <article class="billboard-item">
          <div class="billboard-img mp-bg">
            {{#> minipage}}
                <img src="Images/billboard-1.jpg" />
         {{/minipage}}
         </div>
          <div class="billboard-txt">
            {{#> minipage}}
                <h4>Want More Information? We'd love to hear from you.</h4>
                <p>To learn more about Tumble Creek and our adventurous way of life and luxury real estate properties, please enter your information here.</p>
                <a class="abut" href="#">Submit</a>
            {{/minipage}}
          </div>
        </article>
        <div class="billboard-cte row no-gutters justify-content-center cte-##ADMINLEVEL##">
          <div class="billboard-cte-img col-6"><label>Image:</label></div>
          <div class="billboard-cte-txt col-6"><label>Text:</label></div>
        </div>
</section>