<section class="callouts callout-overlay content-max-width row">
    <article class="callout-wrap col-md-4">
        <div class="callout-item">
            <div class="callout-img">
                {{#> minipage}}
                    <img src="Images/callout-1.jpg" />
                {{/minipage}}
            </div>
            <div class="callout-txt">
                {{#> minipage}}
                    <h3>Golf</h3>
                    <h4>Swing Away</h4>
                {{/minipage}}                
            </div>
        </div>
        <div class="callout-cte row justify-content cte-##ADMINLEVEL##">
            <div class="callout-cte-img col"><label>Image:</label></div>
            <div class="callout-cte-txt col"><label>Text:</label></div>
            <div class="callout-cte-link col"><label>Link:</label>{{#> minipage}}#{{/minipage}}</div>
        </div>
    </article>
    <article class="callout-wrap col-md-4">
        <div class="callout-item">
            <div class="callout-img">
                {{#> minipage}}
                    <img src="Images/callout-2.jpg" />
                {{/minipage}}
            </div>
            <div class="callout-txt">
                {{#> minipage}}
                    <h3>Bocce</h3>
                    <h4>Play Today</h4>
                {{/minipage}}                
            </div>
        </div>
        <div class="callout-cte row justify-content cte-##ADMINLEVEL##">
            <div class="callout-cte-img col"><label>Image:</label></div>
            <div class="callout-cte-txt col"><label>Text:</label></div>
            <div class="callout-cte-link col"><label>Link:</label>{{#> minipage}}#{{/minipage}}</div>
        </div>
    </article>
    <article class="callout-wrap col-md-4">
        <div class="callout-item">
            <div class="callout-img">
                {{#> minipage}}
                    <img src="Images/callout-3.jpg" />
                {{/minipage}}
            </div>
            <div class="callout-txt">
                {{#> minipage}}
                    <h3>Hill House</h3>
                    <h4>Just Relax</h4>
                {{/minipage}}                
            </div>
        </div>
        <div class="callout-cte row justify-content cte-##ADMINLEVEL##">
            <div class="callout-cte-img col"><label>Image:</label></div>
            <div class="callout-cte-txt col"><label>Text:</label></div>
            <div class="callout-cte-link col"><label>Link:</label>{{#> minipage}}#{{/minipage}}</div>
        </div>
    </article>
</section>