<table id="masterPageUC_MPCA2862_ctl09_ctl01_tblTop" cellpadding="0" cellspacing="0" width="100%">
				<tbody><tr>
					<td valign="bottom">
            
        </td>
					<td valign="bottom" width="100%">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tbody><tr>
                    <td valign="bottom" width="100%"><div class="tab-scroll-txt">Scroll for more <em class="nc-icon-glyph arrows-1_tail-right"></em></div>
                        <div id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop" class="tabstrip RadTabStrip_Tab_responsive ">
						<!-- 3.4.1 --><script type="text/javascript" src="/WebResource.axd?d=RI8cWcqXfts1LlWis5NG1qHoDBRizBvvs4IrGmL6lolyr0Jdn6LH_-fpl0N2Ze-pcDvZuz6OkaXCtWOY741kS1rryuwB1OEqLo4BVo27CglRhVQGbqYDrvr8kRfAAkZrau7PqdFleDypdmNVxzskXxJSUxzLpgeQt8Jlewro1cP6nUdXvHKjQraIJH5my0TblwJ16Iul3x5SA03jkGm_KJ-buAE1&amp;t=634686711593661862"></script><span id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTopStyleSheetHolder" style="display:none;"></span><div class="levelwrap level1" style="display: block; width: 1312px;">
							<ul style="width: 1231px;">
								<li class="first first"><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_44" class="selected" style="z-index: 36;" aria-label="Moorings Cours Hole #1" title="Moorings Cours Hole #1"><span class="wrap"><span class="innerWrap">#1</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_45" style="z-index: 17;" aria-label="Moorings Cours Hole #2" title="Moorings Cours Hole #2"><span class="wrap"><span class="innerWrap">#2</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_46" style="z-index: 16;" aria-label="Moorings Cours Hole #3" title="Moorings Cours Hole #3"><span class="wrap"><span class="innerWrap">#3</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_47" style="z-index: 15;" aria-label="Moorings Cours Hole #4" title="Moorings Cours Hole #4"><span class="wrap"><span class="innerWrap">#4</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_48" style="z-index: 14;" aria-label="Moorings Cours Hole #5" title="Moorings Cours Hole #5"><span class="wrap"><span class="innerWrap">#5</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_49" style="z-index: 13;" aria-label="Moorings Cours Hole #6" title="Moorings Cours Hole #6"><span class="wrap"><span class="innerWrap">#6</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_50" style="z-index: 12;" aria-label="Moorings Cours Hole #7" title="Moorings Cours Hole #7"><span class="wrap"><span class="innerWrap">#7</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_51" style="z-index: 11;" aria-label="Moorings Cours Hole #8" title="Moorings Cours Hole #8"><span class="wrap"><span class="innerWrap">#8</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_52" style="z-index: 10;" aria-label="Moorings Cours Hole #9" title="Moorings Cours Hole #9"><span class="wrap"><span class="innerWrap">#9</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_53" style="z-index: 9;" aria-label="Moorings Cours Hole #10" title="Moorings Cours Hole #10"><span class="wrap"><span class="innerWrap">#10</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_54" style="z-index: 8;" aria-label="Moorings Cours Hole #11" title="Moorings Cours Hole #11"><span class="wrap"><span class="innerWrap">#11</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_55" style="z-index: 7;" aria-label="Moorings Cours Hole #12" title="Moorings Cours Hole #12"><span class="wrap"><span class="innerWrap">#12</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_56" style="z-index: 6;" aria-label="Moorings Cours Hole #13" title="Moorings Cours Hole #13"><span class="wrap"><span class="innerWrap">#13</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_57" style="z-index: 5;" aria-label="Moorings Cours Hole #14" title="Moorings Cours Hole #14"><span class="wrap"><span class="innerWrap">#14</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_58" style="z-index: 4;" aria-label="Moorings Cours Hole #15" title="Moorings Cours Hole #15"><span class="wrap"><span class="innerWrap">#15</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_59" style="z-index: 3;" aria-label="Moorings Cours Hole #16" title="Moorings Cours Hole #16"><span class="wrap"><span class="innerWrap">#16</span></span></a></li>
								<li><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_60" style="z-index: 2;" aria-label="Moorings Cours Hole #17" title="Moorings Cours Hole #17"><span class="wrap"><span class="innerWrap">#17</span></span></a></li>
								<li class="last last"><a href="javascript:void(0);" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_61" style="z-index: 1;" aria-label="Moorings Cours Hole #18" title="Moorings Cours Hole #18"><span class="wrap"><span class="innerWrap">#18</span></span></a></li>
							</ul>
						</div><input type="hidden" id="masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_Hidden" name="masterPageUC$MPCA2862$ctl09$ctl01$radTabsTop" value="{&quot;State&quot;:{},&quot;TabState&quot;:{&quot;masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_44&quot;:{&quot;Selected&quot;:true}}}"><script type="text/javascript">window["masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop"] = new RadTabStrip("masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop");window["masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop"].Initialize({"MultiPageID":"radMultTop","MultiPageClientID":"masterPageUC_MPCA2862_ctl09_ctl01_radMultTop","Skin":"Tab_responsive","Enabled":true},{"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_44":{"Selected":true,"PageViewID":"pv_44","Value":"44"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_45":{"PageViewID":"pv_45","Value":"45"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_46":{"PageViewID":"pv_46","Value":"46"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_47":{"PageViewID":"pv_47","Value":"47"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_48":{"PageViewID":"pv_48","Value":"48"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_49":{"PageViewID":"pv_49","Value":"49"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_50":{"PageViewID":"pv_50","Value":"50"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_51":{"PageViewID":"pv_51","Value":"51"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_52":{"PageViewID":"pv_52","Value":"52"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_53":{"PageViewID":"pv_53","Value":"53"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_54":{"PageViewID":"pv_54","Value":"54"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_55":{"PageViewID":"pv_55","Value":"55"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_56":{"PageViewID":"pv_56","Value":"56"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_57":{"PageViewID":"pv_57","Value":"57"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_58":{"PageViewID":"pv_58","Value":"58"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_59":{"PageViewID":"pv_59","Value":"59"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_60":{"PageViewID":"pv_60","Value":"60"},"masterPageUC_MPCA2862_ctl09_ctl01_radTabsTop_tb_61":{"PageViewID":"pv_61","Value":"61"}});</script>
					</div>
                    </td>
                    <td id="masterPageUC_MPCA2862_ctl09_ctl01_tblTop_TdTabSpacer" valign="bottom" width="1%">
                        
                    </td>
					
                </tr>
            </tbody></table>
        </td>
					<td valign="bottom">
            
        </td>
				</tr>
				<tr>
					<td id="masterPageUC_MPCA2862_ctl09_ctl01_tblTop_TdContentLeft" valign="top">
            
        </td>
					<td valign="top" width="100%">
            <div id="masterPageUC_MPCA2862_ctl09_ctl01_radMultTop">
						<div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_44" style="width:100%;height:100%;display:block;">
							<div class="tsContent">
{{#> minipage}}
    
    {{> courseTourSlide}}


{{/minipage}}
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_45" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20637 -->
<div id="mpDiv20637" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106152" alt="The Championship Hawk's Nest Hole #2" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #2</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 3</li>
    <li>Men's Handicap: 15</li>
    <li>Ladies' Handicap: 15</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">185</li>
    <li class="gold">177</li>
    <li class="blue">155</li>
    <li class="white">147</li>
    <li class="green">122</li>
    <li class="red">117</li>
    <li class="silver">96</li>
</ul>
<h5>Hole Description:</h5>
<p>This picturesque but difficult par 3 is framed by a large water hazard that wraps around the front and right sides of the green. Bunkers left, right and in the back further surround the putting surface on this very challenging hole. </p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20637 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_46" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20638 -->
<div id="mpDiv20638" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106150" alt="The Championship Hawk's Nest Hole #3" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #3</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 1/5</li>
    <li>Ladies' Handicap: 5</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">433</li>
    <li class="gold">409</li>
    <li class="blue">391</li>
    <li class="white">374</li>
    <li class="green">333</li>
    <li class="red">325</li>
    <li class="silver">304</li>
</ul>
<h5>Hole Description:</h5>
<p>Tee shots on this beautiful par 4 should favor the right side of the fairway to avoid the elongated natural sandy area on the left. Play the downhill second shot to the right center of the green, safely away from the front left bunker.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20638 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_47" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20639 -->
<div id="mpDiv20639" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106148" alt="The Championship Hawk's Nest Hole #4" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #4</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 5</li>
    <li>Men's Handicap: 11/1</li>
    <li>Ladies' Handicap: 1</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">528</li>
    <li class="gold">528</li>
    <li class="blue">513</li>
    <li class="white">482</li>
    <li class="green">446</li>
    <li class="red">433</li>
    <li class="silver">428</li>
</ul>
<h5>Hole Description:</h5>
<p>This par 5 is reachable in two for long hitters. An enormous natural sandy area flanks the entire left side of the hole. Your tee and second shot must be straight and well positioned. The third shot requires absolute finesse to hold this elevated green fronted by a large deep bunker.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20639 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_48" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20640 -->
<div id="mpDiv20640" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106146" alt="The Championship Hawk's Nest Hole #5" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #5</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 5</li>
    <li>Men's Handicap: 3/7</li>
    <li>Ladies' Handicap: 9</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">484</li>
    <li class="gold">455</li>
    <li class="blue">438</li>
    <li class="white">391</li>
    <li class="green">326</li>
    <li class="red">321</li>
    <li class="silver">277</li>
</ul>
<h5>Hole Description:</h5>
<p>This beautiful par 4 requires a long, straight drive. Be careful of the large oak tree on the right side of the fairway. A successful tee shot leaves a long, straight second to a small, two tiered green that slopes from back to front. Two large bunkers frame the green's right side.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20640 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_49" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20641 -->
<div id="mpDiv20641" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106142" alt="The Championship Hawk's Nest Hole #6" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #6</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 7/9</li>
    <li>Ladies' Handicap: 7</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">463</li>
    <li class="gold">426</li>
    <li class="blue">397</li>
    <li class="white">360</li>
    <li class="green">308</li>
    <li class="red">303</li>
    <li class="silver">292</li>
</ul>
<h5>Hole Description:</h5>
<p>This long dogleg left par 4 requires a straight drive that favors the right center of the fairway. From there you'll have the best angle to the large, back-to-front sloping green protected by two large, deep bunkers on the left.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20641 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_50" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20642 -->
<div id="mpDiv20642" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106144" alt="The Championship Hawk's Nest Hole #7" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #7</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 3</li>
    <li>Men's Handicap: 17</li>
    <li>Ladies' Handicap: 17</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">193</li>
    <li class="gold">193</li>
    <li class="blue">175</li>
    <li class="white">142</li>
    <li class="green">122</li>
    <li class="red">111</li>
    <li class="silver">104</li>
</ul>
<h5>Hole Description:</h5>
<p>This par 3 plays into the prevailing wind, not easily detected from the tee, so most players end up short. Bunkers squeeze the entrance to the green, leaving little room for error. Once you are safely on this very tricky putting surface, read putts from all sides.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20642 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_51" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20643 -->
<div id="mpDiv20643" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106139" alt="The Championship Hawk's Nest Hole #8" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #8</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 9/13</li>
    <li>Ladies' Handicap: 11</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">347</li>
    <li class="gold">344</li>
    <li class="blue">342</li>
    <li class="white">322</li>
    <li class="green">260</li>
    <li class="red">240</li>
    <li class="silver">234</li>
</ul>
<h5>Hole Description:</h5>
<p>The entire right side of this dogleg right par 4 is protected by water. Second shots must be precise to negotiate the water and deep bunkers protecting this long, narrow, three-tiered green. If your approach finds the correct tier, a birdie opportunity looms.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20643 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_52" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20644 -->
<div id="mpDiv20644" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106138" alt="The Championship Hawk's Nest Hole #9" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #9</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 5</li>
    <li>Men's Handicap: 5/3</li>
    <li>Ladies' Handicap: 3</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">617</li>
    <li class="gold">568</li>
    <li class="blue">540</li>
    <li class="white">516</li>
    <li class="green">482</li>
    <li class="red">435</li>
    <li class="silver">427</li>
</ul>
<h5>Hole Description:</h5>
<p>Jim Fazio's Signature Hole! A natural sandy area flanks the left side of the elevated fairway on this demanding par 5. An accurate second shot is a must; anything hit to the right is trouble. An approach shot from the fairway gives you the best chance to find the large, undulating green.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20644 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_53" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20645 -->
<div id="mpDiv20645" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106151" alt="The Championship Hawk's Nest Hole #10" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #10</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 10</li>
    &nbsp;
    <li>Ladies' Handicap: 6</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">394</li>
    <li class="gold">389</li>
    <li class="blue">374</li>
    <li class="white">363</li>
    <li class="green">330</li>
    <li class="red">320</li>
    <li class="silver">314</li>
</ul>
<h5>Hole Description:</h5>
<p>This beautiful dogleg right plays from tees that sit on one of the course's highest points. The fairway is framed by trees right and fairway bunkers left and right. Your second shot is to an elevated, sloping back to front green fronted by two bunkers. Do not miss the green long!</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20645 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_54" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20646 -->
<div id="mpDiv20646" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106155" alt="The Championship Hawk's Nest Hole #11" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #11</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 3</li>
    <li>Men's Handicap: 16</li>
    <li>Ladies' Handicap: 16</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">203</li>
    <li class="gold">198</li>
    <li class="blue">183</li>
    <li class="white">175</li>
    <li class="green">146</li>
    <li class="red">141</li>
    <li class="silver">134</li>
</ul>
<h5>Hole Description:</h5>
<p>This par 3 plays downhill to a slightly elevated green. The front of the green is narrow and protected by lateral water hazards and two large bunkers left and right. Make sure you get the correct yardage and account for the wind! Par on this hole is a great score. </p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20646 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_55" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20647 -->
<div id="mpDiv20647" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106153" alt="The Championship Hawk's Nest Hole #12" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #12</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 4/8</li>
    <li>Ladies' Handicap: 12</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">400</li>
    <li class="gold">400</li>
    <li class="blue">379</li>
    <li class="white">359</li>
    <li class="green">302</li>
    <li class="red">295</li>
    <li class="silver">277</li>
</ul>
<h5>Hole Description:</h5>
<p>Trouble galore! Keep your drive in the fairway and avoid the natural sandy area to the right. This will leave you a mid to long iron to this elevated green. The narrow putting surface is guarded by a large bunker to the right and two large bunkers in back.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20647 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_56" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20649 -->
<div id="mpDiv20649" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106149" alt="The Championship Hawk's Nest Hole #13" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #13</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 12/14</li>
    <li>Ladies' Handicap: 14</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">347</li>
    <li class="gold">347</li>
    <li class="blue">342</li>
    <li class="white">320</li>
    <li class="green">308</li>
    <li class="red">293</li>
    <li class="silver">287</li>
</ul>
<h5>Hole Description:</h5>
<p>On this short but demanding par 4, lateral hazards on both sides as well as an elongated fairway bunker right and a large-mouth bunker left offer all the challenge anyone could want from the tee. Two bunkers protect the left side of this very demanding green. Once again going long over this green is not an option!</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20649 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_57" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20650 -->
<div id="mpDiv20650" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106143" alt="The Championship Hawk's Nest Hole #14" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #14</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 5</li>
    <li>Men's Handicap: 2</li>
    <li>Ladies' Handicap: 2</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">507</li>
    <li class="gold">501</li>
    <li class="blue">490</li>
    <li class="white">465</li>
    <li class="green">415</li>
    <li class="red">407</li>
    <li class="silver">396</li>
</ul>
<h5>Hole Description:</h5>
<p>Keep your tee shot out of the large sandy area on the left on this relatively short par 5. Second shots to the right side, short of the fairway bunkers, offer the best angle to this wide but shallow green. Third shots from the lower left side are much tougher.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20650 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_58" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20651 -->
<div id="mpDiv20651" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106147" alt="The Championship Hawk's Nest Hole #15" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #15</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 3</li>
    <li>Men's Handicap: 18</li>
    <li>Ladies' Handicap: 18</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">197</li>
    <li class="gold">190</li>
    <li class="blue">174</li>
    <li class="white">155</li>
    <li class="green">106</li>
    <li class="red">100</li>
    <li class="silver">87</li>
</ul>
<h5>Hole Description:</h5>
<p>Out-of-bounds on the left and two large-mouth bunkers protect the elevated, back-to-front sloping green on this par 3. Take enough club from the tee so you carry up and onto the putting surface. Get your par and move on to the next hole. </p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20651 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_59" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20852 -->
<div id="mpDiv20852" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106145" alt="The Championship Hawk's Nest Hole #16" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #16</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 14/12</li>
    <li>Ladies' Handicap: 10</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">399</li>
    <li class="gold">394</li>
    <li class="blue">377</li>
    <li class="white">371</li>
    <li class="green">353</li>
    <li class="red">347</li>
    <li class="silver">340</li>
</ul>
<h5>Hole Description:</h5>
<p>Finding the fairway between the long natural sandy area on the left and large fairway bunkers to the right is a must. Protecting the green is another deep large-mouth bunker on the right. You can miss the green to the left, but going long or right spells big trouble.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20852 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_60" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20652 -->
<div id="mpDiv20652" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106140" alt="The Championship Hawk's Nest Hole #17" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #17</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 5</li>
    <li>Men's Handicap: 6/4</li>
    <li>Ladies' Handicap: 4</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">531</li>
    <li class="gold">516</li>
    <li class="blue">491</li>
    <li class="white">477</li>
    <li class="green">421</li>
    <li class="red">413</li>
    <li class="silver">407</li>
</ul>
<h5>Hole Description:</h5>
<p>One this wonderful dogleg left par 5, play your tee shot down the right center of the fairway, avoiding the left side. Your second shot to the elevated fairway sets up a downhill approach shot to a green framed by four large bunkers. This green slopes sharply from back left to front right.</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20652 -->
</div>
						</div><div id="masterPageUC_MPCA2862_ctl09_ctl01_pv_61" style="width:100%;height:100%;display:none;">
							<div class="tsContent">
<!-- Begin Mini-Page 20653 -->
<div id="mpDiv20653" class="mpContent">
    
    <div class="row">
<div class="ctour-img col-md-6"><img src="https://www.themooringsclub.com/images/dynamic/getImage.gif?ID=106141" alt="The Championship Hawk's Nest Hole #18" style="" class="img-responsive"></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #18</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 8/6</li>
    <li>Ladies' Handicap: 8</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">406</li>
    <li class="gold">406</li>
    <li class="blue">400</li>
    <li class="white">382</li>
    <li class="green">317</li>
    <li class="red">317</li>
    <li class="silver">307</li>
</ul>
<h5>Hole Description:</h5>
<p>On one of Florida's best par 4's, tee shots must find the fairway between the bunkers and natural sandy areas. The uphill approach shot is to a green flanked by deep bunkers. The narrow front portion of the putting green slopes to the front. The wider rear section of the putting green slopes from back right to front left.
</p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>

<!-- End Mini-Page 20653 -->
</div>
						</div><div>
							<input type="hidden" name="masterPageUC$MPCA2862$ctl09$ctl01$radMultTop_Selected" id="masterPageUC_MPCA2862_ctl09_ctl01_radMultTop_Selected" value="0">
						</div><script type="text/javascript">
							window["masterPageUC_MPCA2862_ctl09_ctl01_radMultTop"] = new RadMultiPage('masterPageUC_MPCA2862_ctl09_ctl01_radMultTop', [{"ID":"pv_44","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_44"},{"ID":"pv_45","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_45"},{"ID":"pv_46","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_46"},{"ID":"pv_47","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_47"},{"ID":"pv_48","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_48"},{"ID":"pv_49","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_49"},{"ID":"pv_50","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_50"},{"ID":"pv_51","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_51"},{"ID":"pv_52","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_52"},{"ID":"pv_53","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_53"},{"ID":"pv_54","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_54"},{"ID":"pv_55","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_55"},{"ID":"pv_56","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_56"},{"ID":"pv_57","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_57"},{"ID":"pv_58","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_58"},{"ID":"pv_59","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_59"},{"ID":"pv_60","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_60"},{"ID":"pv_61","ClientID":"masterPageUC_MPCA2862_ctl09_ctl01_pv_61"}]);
						</script>
					</div>
        </td>
					<td id="masterPageUC_MPCA2862_ctl09_ctl01_tblTop_TdContentRight" valign="top">
            
        </td>
				</tr>
				<tr>
					<td valign="top">
            
        </td>
					<td id="masterPageUC_MPCA2862_ctl09_ctl01_tblTop_TdBottomMiddle" valign="top" width="100%">
            
        </td>
					<td valign="top">
            
        </td>
				</tr>
			</tbody></table>