<div class="row">
<div class="ctour-img col-md-6"><img src="Images/ctour-img-1.jpg" alt="Hole #1" style=""></div>
<div class="ctour-txt col-md-6">
<div class="inner">
<h4>Hole #1</h4>
<div class="ctour-pad">
<ul class="ul-basic ul-hz hole-info">
    <li>Par: 4</li>
    <li>Men's Handicap: 13/11</li>
    <li>Ladies' Handicap: 13</li>
</ul>
<ul class="ul-basic ul-hz hole-yards">
    <li class="black">412</li>
    <li class="gold">409</li>
    <li class="blue">393</li>
    <li class="white">356</li>
    <li class="green">324</li>
    <li class="red">314</li>
    <li class="silver">305</li>
</ul>
<h5>Hole Description:</h5>
<p>This beautiful opening hole set the stage for an outstanding experience on one of the highest elevations on the golf course. Keep your drive left of the large natural sand area and live oak tree to the right. Second shots are to a deep green guarded by large bunkers on the right. </p>
<a class="abut" href="https://www.themooringsclub.com/files/Hawks-Nest-Scorecard.pdf" target="_blank">Scorecard</a>
</div>
</div>
</div>
</div>
</div>