<section class="events-2">
    <div class="prv-centered-title">
        <h3>What's Happening at the Club</h3>
        <h1>Upcoming Events</h1>
        <a class="view-button pure-text" href="##SITEPATH##/default.aspx?p=v35Calendar"><em class="nc-icon-glyph ui-1_calendar-grid-58"></em>View Full Calendar</a>
        <div id="calPlugin1094729">
            <div id="calPlugin1094729EventsWrapper">
                {{> eventString}}
                {{> eventString}}
                {{> eventString}}
            </div>
        </div>
</section>