{{! -- USE IN AXIS
<a href="##LINKTOEVENT##">
<div class="cal-event">
<div class="cal-img">
<div class="cal-date">##EVENTDATE##</div>
##EVENTIMAGE##</div>
<div class="cal-title">
<span>##TITLE##</span>
</div>
</div>
</a>
--}}
<div onmouseover="this.className='calPlugin1094729WeekdayHover'" onmouseout="this.className='calPlugin1094729Weekday'" class="calPlugin1094729Weekday" ondblclick="AddEvent1094729('11/4/2019')">
<a href="#">
<div class="cal-event">
<div class="cal-img">
<div class="cal-date"><span class="calMonth">Nov</span>
<br>
<span class="calDay">4</span></div>
<img src="Images/event-1.jpg"></div>
<div class="cal-title">
<h6>Event Title Goes Here</h6>
<h3>Register Now</h3>
</div>
</div>
</a>
</div>