<footer>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 footer-info">
                <h6><span class="sr-only">Tumble Creek Club</span></h6>
                <ul class="ul-basic ul-hz">
                    <li>851 Honolulu Drive Cle Elum, WA 98922</li>
                    <li>Phone: <a href="tel:15096496481">509-649-6481</a></li>
                    <li>Real Estate: <a href="tel:18006671828">1-800-667-1828</a></li>
                </ul>
                <a href="#">Take me to the Suncadia Club</a>
                <ul class="ul-basic ul-hz-sm ul-soc">
                    <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-instagram"></em><span class="sr-only">Instagram</span></a></li>
                <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-facebook"></em><span class="sr-only">Facebook</span></a></li>
                <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-twitter"></em><span class="sr-only">Twitter</span></a></li>
                <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-youtube"></em><span class="sr-only">Youtube</span></a></li>
                
                </ul>
            </div>
            <nav class="col-lg-8 footer-nav">

            </nav>
        </div>
        <div class="row">
            <div class="col-lg-6 footer-logo">
                <img src="Images/footer-suncadia.jpg" alt="Suncadia Club" />
            </div>
            <div class="col-lg-6 footer-copyright">
                © ##SITENAME## Tumble Creek at Suncadia. All Rights Reserved.
                <a target="_blank" href="https://www.clubessential.com?pageRef=##REFLINK##">Site by Clubessential</a>
            </div>
        </div>
    </div>

</footer>