<div class="global-scripts script9 minimized">
<div class="GS-head">
Site Scripts
<div class="GS-toggle">
<div class="toggle-1"></div>
<div class="toggle-2"></div>
</div>
</div>
<div class="hide-toggle">
Hide Click to Edits:<input type="checkbox" id="toggle-edits" name="toggle-edits">
</div>
<div class="fed-scripts">
<span>FED Scripts</span>
{{#> minipage}}
<script src="/js/axisbundle.js"></script>
    <script>
      //plugin scripts that load after js i.e. photo album scripts
    </script>
    {{/minipage}}
</div>
<div class="content-scripts">
<span>CWS &amp; Content Load</span>
{{#> minipage}}{{/minipage}}
</div>
</div>
