<div class="mpContent">
    {{> @partial-block}}
</div>
<div class="clickToEditDiv" align="center"><a class="clickToEditAnchor">
    <img border="0" src="https://via.placeholder.com/99x22?text=Click+To+Edit" alt="Click here to edit this document"></a>
</div>