<button class="hamburger hamburger--squeeze nav-btn-open" type="button" data-toggle="offcanvas" aria-expanded="false" aria-controls="menu">
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
<span>Menu</span>
</button>
<nav class="nav-offcanvas">
{{> ulMenu}}
</nav>