<section class="news-4 callouts calouts-overlay">
    <div class="prv-centered-title">
        <h3>The Most Important Info</h3>
        <h1>Club News</h1>
        <a href="https://www.ceclients.com/sites/BaldPeakColonyClub/default.aspx?p=.NET_ArticleListing" class="view-button pure-text"><em class="nc-icon-glyph files_paper"></em>See Full Archive</a>
    </div>
    <div id="newsPlugin37">
        <div id="newsPlugin37ArticlesWrapper">
            {{> newsString}}
            {{> newsString}}
            {{> newsString}}
        </div>
            <span class="smallerfont">
                <div class="newsPluginArchiveLink" id="newsPlugin37ArchiveLink">
                    <a href="##SITEPATH##/default.aspx?p=.NET_ArticleListing&amp;tview=2&amp;qfilter=&amp;ssid=">click here for older articles</a>
                </div>
            </span>
    </div>
</section>