{{!-- SNIPPET FOR AXIS
<a href="##ARTICLELINK##">
        <div class="article-item">
            <div class="article-img">
                <div class="mpContent mp-bg">
                    ##ARTICLEIMAGE##
                </div>
                <div class="article-txt">
                    <h3>Posted ##POSTDATE##</h3>
                    <h4>##SUBJECT##</h4>
                </div>
            </div>
        </div>
    </a>

--}}
<div class="newsItem plugin37 article50003" id="newsItem50003">
    <a href="#">
        <div class="article-item">
            <div class="article-img">
                <div class="mpContent mp-bg">
                    <img src="Images/news-1.jpg" />
                </div>
                <div class="article-txt">
                    <h3>Posted X/XX/XX</h3>
                    <h4>Article Title Here</h4>
                </div>
            </div>
        </div>
    </a>
</div>