<section class="panels panel-grid">
  <article class="panel-item">
    <div class="row no-gutters">
      <div class="panel-img col-lg-5 mp-bg order-lg-last">
        {{#> minipage}}
            <img src="Images/panel-1.jpg" />
        {{/minipage}}
      </div>
      <div class="panel-txt col-lg-7 order-lg-first">
        <div class="v-align">
          <h4>Welcome to Tumble Creek, Welcome Home</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <a class="abut" href="#">Read More</a>
        </div>
      </div>
    </div>
  </article>
  <article class="panel-item">
    <div class="row no-gutters">
      <div class="panel-img mp-bg col-lg-5">
          {{#> minipage}}
          <img src="Images/panel-2.jpg" />
          {{/minipage}}
      </div>
      <div class="panel-txt col-lg-7">
        <div class="v-align">
          {{#> minipage}}
          <h4>Welcome to Tumble Creek, Welcome Home</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <a class="abut" href="#">Read More</a>
          {{/minipage}}
        </div>
      </div>
    </div>
  </article>
</section>