<section class="parallax">
    <div class="mp-parallax mp-bg">
        {{#> minipage}}
            <img src="/images/parallax-1.jpg" alt="Parallax" />
        {{/minipage}}
    </div>
    <div class="intro">
        {{#> minipage}}
        <h2>Setting of Splendor</h2>
        <p>To walk the fairways of Portland Golf Club is a treat in and of itself, as one realizes the peaceful oasis is but ten minutes from downtown Portland. PGC’s wide array of natural wonders, including water features, tree-lined fairways, manicured greens, wildlife, and floral configurations, are a bonus to the golfer.</p>
        {{/minipage}}
    </div>
</section>
<section class="parallax">
    <div class="mp-parallax mp-bg">
        {{#> minipage}}
            <img src="/images/parallax-3.jpg" alt="Parallax" />
        {{/minipage}}
    </div>
    <div class="intro">
        {{#> minipage}}
        <h2>Greens Beyond Compare</h2>
        <p>Combining magnificent design with extreme speed, PGC’s greens are highly regarded throughout the golfing world. Undulations compound the challenges of speed, but the greens roll true for players who study the break.</p>
        {{/minipage}}
        <div class="content-max-width-xs">
            {{> accordion}}
        </div>
    </div>
</section>
<section class="parallax">
    <div class="mp-parallax mp-bg">
        {{#> minipage}}
            <img src="/images/parallax-2.jpg" alt="Parallax" />
        {{/minipage}}
    </div>
    <div class="intro">
        {{#> minipage}}
        <h2>Hole by Hole Tour</h2>
        <p>View the course details simply click each hole number below to get more infomation.</p>
        {{/minipage}}
    </div>
    {{> courseTour}}
</section>
