<section class="media">
    {{#> photoPluginWrapper}}
            <div class="palb-wrap image-bg-cover" style="background-image:url(Images/pbhm-banner-1.jpg);">
                <span class="sr-only">hero-1.jpg</span>
                <a class="prevImg39" href="javascript:void(0);" onclick="_photoAlbums.a39.ChangeImage(2,this)"><em
                        class="nc-icon-glyph arrows-1_minimal-left"><span class="sr-only">Previous</span></em></a>
                <a class="nextImg39" href="javascript:void(0);" onclick="_photoAlbums.a39.ChangeImage(1,this)"><em
                        class="nc-icon-glyph arrows-1_minimal-right"><span class="sr-only">Next</span></em></a>
            </div>
     {{/photoPluginWrapper}}
</section>