<ul class="counter">
    <li id="phtGalleryWrapDiv_1071449_0_0_listItem" class="active"></li>
    <li id="phtGalleryWrapDiv_1071449_0_1_listItem"></li>
    <li id="phtGalleryWrapDiv_1071449_0_2_listItem"></li>
    <li id="phtGalleryWrapDiv_1071449_0_3_listItem"></li>
</ul>