<section class="quicklinks-2 mp-bg">

{{#> minipage}}
<img src="/images/pvhm-banner-1.jpg" />
{{/minipage}}
<div style="text-align: right;"><a style="cursor:pointer;" onclick="showAxisDialog(&quot;navigationProperties_318297_4&quot;, { onClose: function(dialogBox) { parent.location.href = parent.location.href; }, href: &quot;/dialog.aspx?p=navigationProperties&amp;NoNav=1&amp;ShowFooter=False&amp;NoModResize=0&amp;caller=properties&amp;ssid=318297&amp;stubtype=4&quot;, height: 550,  width: 500, modalClickClosesDialog: false, title: &quot;Navigation Properties&quot;}); "><img src="/A_Master/Images/icons/ico_properties.gif" border="0" title="Click to edit navigation properties" alt="Click to edit navigation properties"></a></div>
<ul id="ulMenu_1071446" class="ulMenu level0"><li class="ulMenuItem level1" id="ulMenuItem_318325"><a target="" href="#"><em class="nc-icon-glyph users_circle-10"></em>My Reservations</a></li><li class="ulMenuItem level1" id="ulMenuItem_318326"><a target="" href="#"><em class="nc-icon-glyph shopping_receipt"></em><span class="interface=XXX"></span>My Statements</a></li><li class="ulMenuItem level1" id="ulMenuItem_318324"><a target="" href="#"><em class="nc-icon-glyph food_course"></em>Make a Dining Reservation</a></li><li class="ulMenuItem level1" id="ulMenuItem_318327"><a target="" href="#"><em class="nc-icon-glyph ui-1_calendar-grid-58"></em>Book a Private Event</a></li><li class="ulMenuItem level1" id="ulMenuItem_318373"><a target="_new" href="#"><em class="nc-icon-glyph sport_tennis"></em><span class="http://www.clubessential.com"></span>Squash</a></li><li class="ulMenuItem level1" id="ulMenuItem_318328"><a target="" href="#"><em class="nc-icon-glyph travel_white-house"></em>Reciprocal Clubs</a></li></ul>

</section>