<div class="staff-wrap">
    <div class="staff-item">
        <div class="staff-img">
        {{#> minipage}}
            <img src="Images/staff-1.jpg" />
        {{/minipage}}
        </div>
        <div class="staff-title">
        {{#> minipage}}
            <h6>Name Goes Here</h6>
            <h6>Job Position or Company Title Goes Here</h6>
        {{/minipage}}
        </div>
        <div class="staff-title">
        {{#> minipage}}
            <ul>
                <li><em class="nc-icon-outline ui-1_email-84"></em><a href="mailto:thisemail@gmail.com">rsmithcountryclub@gmail.com</a></li>
                <li><em class="nc-icon-outline ui-3_phone-call"></em><a href="tel:17777777">(555)777-2222</a></li>
            </ul>
        {{/minipage}}
        </div>
    </div>
</div>