<section class="staff-grid">
    <div class="tsContent">
        {{> staffItem}}
        {{> staffItem}}
        {{> staffItem}}
        {{> staffItem}}
        {{> staffItem}}
        {{> staffItem}}
    </div>
</section>