<ul class="ul-basic ul-hz-sm ul-soc">
                    <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-instagram"></em><span class="sr-only">Instagram</span></a></li>
                <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-facebook"></em><span class="sr-only">Facebook</span></a></li>
                <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-twitter"></em><span class="sr-only">Twitter</span></a></li>
                <li><a href="#" target="_blank"><em class="nc-icon-glyph social-1_logo-youtube"></em><span class="sr-only">Youtube</span></a></li>
                
                </ul>