<ul id="ulMenu_1" class="ulMenu level0">
    <li class="ulMenuItem level1" id="ulMenuItem_01">
        <a href="#">Quicklink Item 1</a>
    </li>
    <li class="ulMenuItem level1" id="ulMenuItem_02">
        <a href="#">Quicklink Item 2</a>
    </li>
    <li class="ulMenuItem level1" id="ulMenuItem_03">
        <a href="#">Quicklink Item 3</a>
    </li>
    <li class="ulMenuItem level1" id="ulMenuItem_04">
        <a href="#">Quicklink Item 4</a>
    </li>
    <li class="ulMenuItem level1" id="ulMenuItem_05">
        <a href="#">Quicklink Item 5</a>
    </li>
    <li class="ulMenuItem level1" id="ulMenuItem_06">
        <a href="#">Quicklink Item 6</a>
    </li>
</ul>