{{> banner}}
<nav class="sub-menu">
    {{> ulMenu}}
</nav>
{{#> minipage}}
{{/minipage}}
<section class="content-wrap">
    {{#> minipage}}
    <h3>Subtitle in this space</h3>
    <h1>Tumble Creek Golf</h1>
    <h2>Nulla egestas metus nec posuere luctus. Sed quis tellus mi. Fusce mollis semper im
per diet. Orci varius natoque pena tibus et magnis dis part natoque pena tibus et.</h2>
    <p>Nulla egestas metus nec posuere luctus. Sed quis tellus mi. Fusce mollis semper imper diet. Orci varius natoque pena tibus et magnis dis part natoque pena tibus et magnis dis par us natoque pena tibus et magnis dis part natoque pena tibus et magnis dis partue. Orci varius natoque pena tibus et magnis dis part natoque. Orci varius natoque pena tibus et magnis dis part natoque pena tibus et magnis dis par us natoque pena tibus et magnis dis part natoque pena tibus et magnis dis partue. Orci varius natoque penaers. Repena tibus et magnis dis partue. Orci varius natoque pena tibus et magnis dis part natoque. Orci varius natoque pena tibus et magnis dis part natoque pena tibus et magnis dis par us natoque pena tibus et magnis dis part natoque pena tibus et magnis dis partue. Orci varius natoque penaers.</p>
    {{/minipage}}
</section>
{{> courseTour}}
<section class="content-wrap texture-bg">
    <div class="prv-centered-title">
        <h3>Subtitle goes in this space</h3>
        <h1>Explore the Course</h1>
    </div>
    <div class="content-max-width container-fluid">
        <div class="row">
            <div class="col-md-6"><img src="Images/golf-vid-1.jpg"/></div>
            <div class="col-md-6"><img src="Images/golf-vid-2.jpg"/></div>
        </div>
    </div>
</section>
{{> panel-grid}}
{{> callouts4col}}