{{> banner}}
<nav class="sub-menu">
    {{> ulMenu}}
</nav>
{{#> minipage}}
{{/minipage}}
<section class="content-wrap">
    {{#> minipage}}
    <h3>80 miles from the heart of Seattle</h3>
    <h1>A Smile and a Wave</h1>
    <h2>80 miles from the heart of Seattle, Tumble Creek Club is a world class, mountain destination community. The arrival experience begins as you crest Snoqualmie Pass.</h2>
    <p>80 miles from the heart of Seattle, Tumble Creek Club is a world class private, mountain destination community. The arrival experience begins as you crest Snoqualmie Pass and the clouds give way to sunshine as you descend past Lake Kachess to Cle Elum. A smile and a wave from the Caretakers Cabin fades to the Kittitas Conservancy, 1200 acres of protected land that encompasses the stunning Cle Elum River corridor. The resident elk herd is now the only traffic you will encounter as they cross Tumble Creek Drive in search of the grassy meadows near the river. A seven point Bull keeps watch over the herd as you cross the Cle Elum River via the Tumble Creek Bridge. In the clear water below, Rainbow and Cutthroat trout await, when you are ready to make that perfect cast. As you ascend into the Tumble Creek Community, the feeling that life has simply become much better.</p>
    {{/minipage}}
</section>
{{> staff}}