$panelImgHeightSm: 350px;
$panelImgHeightMd: 500px;
$panelTxtBGColor: $silver;
$panelImgOpacity: 1;

.panel-grid {
  padding-top:45px;
  & .panel-item {
    padding-bottom:45px;
  }
  & .panel-img {
    height:$panelImgHeightSm;
    padding:0;
    position:relative;
    &.mp-bg > .mpContent {
      opacity: $panelImgOpacity;
    }
    @media screen and (min-width:$breakpoint-md) {
      height:$panelImgHeightMd;
    }
    & > table {
      position:absolute;
      right:30px;
      top:30px;
    }
    & [id*="photoPluginWrapper"] {
      height:100% !important;
      & > .photoGalleryWrapDiv,
      & .palb-wrap  {
        height:100%;
      }
    }
  }
  & .panel-txt {
    // padding-top:30px;
    // padding-bottom:30px;
    padding:30px 15px;
    background:$panelTxtBGColor;
    border:1px solid $silver;
    text-align: left;
    & p {
      line-height: 1.5;
    }
    & a {
      font-weight:700;
      text-transform: uppercase;
      letter-spacing: 1.88px;
    }
    @media screen and (min-width:$breakpoint-md) {
      padding:60px 30px;
      // 🔥 deprecating this to use flexbox
      // & .v-align {
      //   position:absolute;
      //   top:50%;
      //   @include prefix(transform, translateY(-50%), ms webkit moz);
      //   width: calc(100% - 60px);
      // }
    }
    // 🔥 deprecating this to use flexbox
    // @media screen and (min-width: $breakpoint-md) {
    //   padding:60px;
    //   & .v-align {
    //     width: calc(100% - 120px);
    //   }
    // }
  }
}
