//tabstrip
$tabs-bg: $silver;
$tabs-txt-color: $black;
$tabs-txt-color-hover: $green;
$tabs-height:70;
$tabs-selBorder-height: 3;
$tabs-txt-fontsize: 15;
$tabs-txt-fontweight:500;
$tabs-txt-selected-color:$green;
$tabs-txt-selected-bg:#fff;
$tabs-content-border-color: #f1f1f1;

table[id*="tblTop"] {
	display:block;
}

//override for new inline style
div[id*="_radMultTop"][style*="margin-top"] {
	margin-top: 0 !important;
	position:relative;
}

#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul > li > a:before {
	content:"";
	margin-right:0;
	}

#content .RadTabStrip_Tab_responsive {
	margin:0 auto;
	text-align:left;
	background:none;
	padding:0;
	overflow:hidden;
	overflow-x:auto;
	height:auto;
	position:relative;
}

#content .RadTabStrip_Tab_responsive .levelwrap.level1 {
	padding:0 15px;
	//width: 100% !important;
	border: 0;
	border-bottom:0;
	text-align:center;
	height:$tabs-height+px;
	overflow:hidden;
	overflow-x: auto;
	margin:0 auto;
	background:$tabs-bg;
	border:1px solid #b4b4b4;
	border-radius:3px;
}

#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul {
	display:inline-block;
	margin:0;
	padding: 0;
	white-space: nowrap;
	position:relative;
	width:100%;
}

#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul > li {
	float:none;
	display:inline-block;
	line-height: ($tabs-height - $tabs-selBorder-height)+px;
	margin: 0;
	font-weight:$tabs-txt-fontweight;
}

#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul > li > a {
	@include prefix(transition, all .3s ease-out, webkit ms moz o);
	float:none;
	display:block;
	@include rem-size($tabs-txt-fontsize);
	font-weight:$tabs-txt-fontweight;
	color:$tabs-txt-color;
	padding: 0 20px;
	text-decoration:none;
	position:relative;
	background: $tabs-bg;
	border-top:($tabs-selBorder-height)+px solid transparent;
	text-transform: uppercase;
	letter-spacing: 2px;
	&:hover {
		color:$tabs-txt-color-hover;
	}
}


#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul > li > a.selected {
	@include rem-size($tabs-txt-fontsize);
	text-decoration:none;
	background:$tabs-txt-selected-bg;
	color:$tabs-txt-selected-color;
	border-color:$tabs-txt-selected-color;
}

#content .tabstrip li a .wrap,
#content .tabstrip li a .innerWrap {
	float:none;
	position:relative;
}

#content .tabstrip li a.selected .wrap,
#content .tabstrip li a.selected .innerWrap {
	cursor:pointer;
}

.tsContent {
	padding:35px 15px;
	border:1px solid $tabs-content-border-color;
	border-top:none;
	background:#fff;
	width:100% !important;
	line-height: 1.7;
	@media screen and (min-width:$breakpoint-sm) {
		padding:35px;
	}
}

@media screen and (min-width:768px) {
	#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul {
		padding: 0;
		display:inline-block;
	}
	#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul > li {
		float:none;
		display:inline-block;
	}

	#content .RadTabStrip_Tab_responsive .levelwrap.level1 > ul > li > a {
		//border-bottom:0;
	}

 // #content .RadTabStrip_Tab_responsive .placeNext,
 // #content .RadTabStrip_Tab_responsive .placePrev {
 //  width: 50px;
 // }

}

.tab-scroll-txt {
	text-align:left;
	opacity:0;
	padding-bottom:4px;
	position:relative;
	top:5px;
	@include prefix(transition, all .3s ease-out, webkit ms moz);
	&.active {
		top:0;
		opacity:1;
	}
}
