<section class="hero-wrap">
<div>
<div class="hero-img" style="background-image: url(##IMAGEPATH##);">
##IMAGE##
</div>
<div class="hero-desc">
<ul class="counter"></ul>
    <h2>##IMAGETITLE##</h2>
    <p>##IMAGEDESC##</p>
    <a href="##IMAGEURL##" class="hero-btn">##IMAGEADDL1##</a>
    </div>
    </div>
    </section>

    <!-- onplugin finish -->
    aFirstLoad(gallerySettings);
$j("[class^='featured-hero-'] .photoGalleryWrapDiv").each(function(i) {
    $j('.counter').append('<li id="'+ $j(this).attr('id')  +'_listItem"></li>');
    $j('.counter #' + gallerySettings.CurrentDivID + '_listItem').addClass('active');
	var $jthis = $j(this);
    if($jthis[0] === $j('.photoGalleryWrapDiv').last()[0]) {
        $j(".counter").each(function(e) {
			$j(this).children().sort(function(a, b){return ($j(b).attr('id')) < ($j(a).attr('id')) ? 1 : -1;}).appendTo(this);
		});
    }
});
$j('.counter li').click(function(){
	if($j(this).attr('id') != gallerySettings.CurrentDivID + '_listItem'){
		var ActiveID = gallerySettings.CurrentDivID;
		var NextID = $j(this).next('li').attr('id');//.replace('_listItem', '');
			if($j(this).next('li').length = 0 ){
			NextID = $j(this).parent().children('li').first().attr('id').replace('_listItem', '');
		}
		$j(".photoGalleryWrapDiv").each(function(i) {
			$j('.counter > li').removeClass();
		});
		gallerySettings.CurrentDivID = $j(this).attr('id').replace('_listItem', '');
		gallerySettings.NewDivID = NextID;
		gallerySettings.CurrentIndex = $j(this).index();
		gallerySettings.StopRotation();
		DoTransition(gallerySettings.TransType, $j(this).attr('id').replace('_listItem', ''), ActiveID,
		gallerySettings.TransitionDuration);
		gallerySettings.TransitionComplete(NextID);
	}
});

<!-- on before transition -->
aBeforeTransition(gallerySettings);
$j('.counter > li').removeClass();

<!-- on after image change -->
$j('.counter #'+gallerySettings.CurrentDivID + '_listItem').addClass('active');
