//colors
$black: #222;
$smoke: #444;
$gray: #666;
$green: #60BF70;
$greenDark: #40804A;
$silver: #f1f1f1;
$grayLight: #eaeaea;


//fonts
$serif: 'Lora', serif;
$sansSerif: 'Lato', sans-serif;

//Images
$imgpath: '../../../Images';

//breakpoints [min-width//mobile first]
$breakpoint-xs: 450px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
$breakpoint-header: 1400px;
