.new-form {
	text-align:left;
}

.new-form input,
.new-form textarea {
	border:1px solid $black;
	width:100%;
	@include prefix(transition, all .3s ease-in-out, webkit ms moz);
	&:focus {
		border-color:$green;
	}
}

.new-form label {
	font-weight:400;
}

.new-form .form-element {
	margin-bottom:20px;
}

.new-form input {
	height:40px;
	line-height:40px;
	text-indent:10px;
}

.new-form textarea {
	height:160px;
}

.formBaseForm + .smallerfont {
	display:none;
}
