<!--section wrapper of callouts with type in there-->

<article class="callout-wrap col-sm-6 col-md-3">
    <div class="callout-item">
      <div class="callout-img mp-bg">
        <img src="http://via.placeholder.com/400x320">
      </div>
      <div class="callout-txt">
        <h3>Callout Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec sem vel neque mollis consectetur.</p>
      </div>
    </div>
    <div class="callout-cte clearfix cte-##ADMINLEVEL##">
      <div class="callout-cte-img col-xs-4"><label>Image:</label></div>
      <div class="callout-cte-txt col-xs-4"><label>Text:</label></div>
      <div class="callout-cte-link col-xs-4"><label>Link:</label></div>
    </div>
</article>
