.cards {
  & article {
    text-align: center;
    padding:30px 25px;
    border:1px solid $silver;
    margin-bottom:10px;
    & .mpContent a:after {
      content:'\ead9';
      display: inline-block;
      margin-left:7px;
      font: normal normal normal 10px/1 'Nucleo Glyph';
      speak: none;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
