<!-- Start Featured Hero section -->
<section class="featured-hero-1">
  ##PHOTOPLUGIN##
</section>
<!-- End Featured Hero section -->
<!-- Begin Quicklinks Section -->
<section class="quicklinks-2">
<h2>Welcome Back, ##MEMNAME##!</h2>
##ULMENU##
</section>
<!-- End Quicklinks section -->
<!-- Begin Private content -->
<!-- Gray Background container -->
<section class="gray-bg">
<!-- Begin First Content Row -->
<!-- Begin Content padding and set width -->
<div class="container-fluid content-pad prv-home-content prv-max-width">
<div class="row">
<!-- Full width column -->
<div class="col-xs-12">
<!-- Begin Events Section -->
<section class="events-2 threeCol">
<div class="prv-centered-title">
<h1>Upcoming Featured Club Events</h1>
<a class="view-button pure-text" href="##SITEPATH##/default.aspx?p=v35Calendar">View full calendar</a>
</div>
##CALENDAR##
</section>
<!-- End Events Section -->
</div>
<!-- End full width column -->
</div>
</div>
<!-- End Content padding and set width -->
<!-- End First content Row -->
</section>
<!-- End gray background container -->
<!-- Begin Second Content row -->
<section class="news-container">
<!-- Begin Content padding and set width -->
<div class="content-pad container-fluid prv-home-content prv-max-width">
<div class="row">
<!-- Begin Full width Column -->
<div class="col-xs-12">
<!-- Begin News Section -->
<section class="news-2">
<div class="prv-centered-title">
<h1>Latest News &amp; Announcements</h1>
<a href="##SITEPATH##/default.aspx?p=.NET_ArticleListing&default.aspx?p=.NET_ArticleListing&tview=2&ssid=&qfilter=&startdate=&title=&subtitle=&showfilter=&chgs=" class="view-button pure-text">View Archives</a>
</div>
##NEWS##
</section>
<!-- End News Section -->
</div>
<!-- End Full width column -->
</div>
</div>
<!-- End Content padding and set width -->
</section>
<!-- End Second Content row -->
<!-- End private Content -->
