
<!-- End Quicklinks section -->
<section class="quicklinks-1 four-col mp-bg">
##MINIPAGE##
<h2>Welcome back, ##MEMNAME##!</h2>
##ULMENU##
</section>
<!-- End Quicklinks section -->
<!-- Begin Private content -->
<section class="container-fluid content-pad prv-home-content prv-max-width">
<div class="row">
<!-- Start large left column -->
<div class="col-md-9 col-sm-12">
<!-- Begin Events Section -->
<section class="events-1">
<div class="prv-inline-title">
<h1>Upcoming Club Events</h1>
<a class="view-button calendar-icon has-bg" href="##SITEPATH##/default.aspx?p=v35Calendar&view=l3">View All Events</a>
</div>
CALENDAR
</section>
<!-- End Events Section -->
</div>
<!-- End large left column -->
<!-- Start Small Right Column -->
<div class="col-md-3 col-sm-12">
<!-- Begin News Section -->
<section class="news-1 gray-bg">
<h2>Lastest News</h2>
##NEWSPLUGIN##
<a class="view-button archive-icon has-bg" href="##SITEPATH##/default.aspx?p=.NET_ArticleListing&amp;tview=2&amp;ssid=&amp;qfilter=&amp;startdate=&amp;title=&amp;subtitle=&amp;showfilter=&amp;chgs=">View Archived News</a>
</section>
<!-- End News Section -->
</div>
<!-- End small right column -->
</div>
</section>
<!-- End private Content -->
